<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Learning">
    <parameter name="a" value="10"/>
    <parameter name="b" value="20"/>
    <parameter name="course" value="Testing"/>
    <test name="Testing1">
        <classes>
            <class name="org.example.ParameterizationConcept"/>
        </classes>
    </test><!-- Test -->
</suite> <!-- Suite -->