<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Learning" parallel="tests" thread-count="2">
    <parameter name="a" value="10"/>
    <parameter name="b" value="20"/>
    <parameter name="course" value="Testing"/>
    <test name="Testing1">
        <classes>
            <class name="org.example.ParameterizationConcept"/>
            <class name="org.example.TestBase"/>
        </classes>
    </test>
    <test name="Testing2">
        <classes>
            <class name="org.example.TestBase1"/>
            <class name="org.example.TestBase2"/>
        </classes>
    </test>
    <!-- Test -->
</suite> <!-- Suite -->